@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --listitembackground: #8d4848;
    --listitemhoverbackground: #e0d4d4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  background-color: var(--background);
  margin: 5px 0;
  padding: 10px;
  border: #ccc 1px solid;
  text-align: justify;
  cursor: pointer;
}
.button {
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    border: 2px solid #111;
    background-color: beige;
    font-size: 16px;
}
.button:disabled {
    cursor: none;
    opacity: 0.5;
}
li:hover {
  background-color:#936363;
}
